Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Mandragora 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Knight 3 4
XXXXX
XIIIX
XICXX
XIIIX
XXXXX
Dragon 3 5
XXXXX
IIXII
XICXX
IIXII
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Shield 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Wizard 2 3
XXIXX
XIIIX
XXCXX
XIIIX
XXIXX
Tower 2 3
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Archer 1 2
XXIXX
XXXXX
XICXX
XXXXX
XXIXX
Golem 3 4
IIIII
XXXXX
XXCXX
XXXXX
IIIII
Fairy 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Troll 2 4
XXXXX
XIIIX
XXCXX
XXXXX
XXXXX
Ogre 3 5
IIXII
XXXXX
XXCXX
XXXXX
IIXII
Phoenix 2 4
IIXII
XXIXX
XXCXX
XXIXX
IIXII
Champion 3 5
XXXXX
XIIIX
IICII
XIIIX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Mandragora 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Knight 3 4
XXXXX
XIIIX
XICXX
XIIIX
XXXXX
Dragon 3 5
XXXXX
IIXII
XICXX
IIXII
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Shield 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Wizard 2 3
XXIXX
XIIIX
XXCXX
XIIIX
XXIXX
Tower 2 3
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Archer 1 2
XXIXX
XXXXX
XICXX
XXXXX
XXIXX
Golem 3 4
IIIII
XXXXX
XXCXX
XXXXX
IIIII
Fairy 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Troll 2 4
XXXXX
XIIIX
XXCXX
XXXXX
XXXXX
Ogre 3 5
IIXII
XXXXX
XXCXX
XXXXX
IIXII
Phoenix 2 4
IIXII
XXIXX
XXCXX
XXIXX
IIXII
Champion 3 5
XXXXX
XIIIX
IICII
XIIIX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Mandragora 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Knight 3 4
XXXXX
XIIIX
XICXX
XIIIX
XXXXX
Dragon 3 5
XXXXX
IIXII
XICXX
IIXII
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Shield 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Wizard 2 3
XXIXX
XIIIX
XXCXX
XIIIX
XXIXX
Tower 2 3
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Archer 1 2
XXIXX
XXXXX
XICXX
XXXXX
XXIXX
Golem 3 4
IIIII
XXXXX
XXCXX
XXXXX
IIIII
Fairy 1 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Troll 2 4
XXXXX
XIIIX
XXCXX
XXXXX
XXXXX
Ogre 3 5
IIXII
XXXXX
XXCXX
XXXXX
IIXII
Phoenix 2 4
IIXII
XXIXX
XXCXX
XXIXX
IIXII
Champion 3 5
XXXXX
XIIIX
IICII
XIIIX
XXXXX
